

<nav x-data="{ isOpen: false }"  class="container p-6 mx-auto lg:flex lg:justify-between lg:items-center">
  <div class="flex items-center justify-between">
    <a href="#">
      <img src="../../../../assets/mypet.png" class="h-12"/>
    </a>

    <!-- Mobile menu button -->
    <div class="flex lg:hidden">
      <button  type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
        <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
        </svg>

        <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
  <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white shadow-md lg:shadow-none dark:bg-gray-900 lg:mt-0 lg:p-0 lg:top-0 lg:bg-transparent lg:dark:bg-transparent lg:relative lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center">
    <div class="flex flex-col space-y-4 lg:mt-0 lg:flex-row lg:space-y-0">
      <a class="text-gray-700 lg:mx-6 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500"  routerLink="/">Home</a>
      <a *ngIf="currentPerson" class="text-gray-700 lg:mx-6 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500" routerLink="/myposts">My Posts</a>
      <a *ngIf="currentPerson" class="text-gray-700 lg:mx-6 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500" routerLink="/myanimals"  >My Animals</a>
      <a class="text-gray-700 lg:mx-6 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500" href="#">Contact</a>
      <a  *ngIf="!currentPerson" class="text-gray-700 lg:mx-6 dark:text-gray-200 dark:hover:text-blue-400 hover:text-blue-500" routerLink="/login">Sing In</a>
    </div>



    <div class="flex gap-5" *ngIf="currentPerson">
          <!--<span
            class="inline-flex h-14 w-14 items-center justify-center rounded-full bg-gray-700"
          >
            <span
              class="text-xl font-medium leading-none text-gray-100 uppercase"
            >{{
              currentPerson.firstName[0] + currentPerson.lastName[0]
              }}</span
            >
          </span>-->





      <div routerLink="/profile" class="relative cursor-pointer ">
        <img class="object-cover w-10 h-10 rounded-full ring ring-gray-300 dark:ring-gray-600" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=880&h=880&q=100" alt="">
        <span class="h-2.5 w-2.5 rounded-full bg-emerald-500 absolute right-0 ring-1 ring-white bottom-0"></span>
      </div>
      <a  *ngIf="currentPerson" (click)="logout()" class="cursor-pointer	 block px-5 py-2 mt-4 text-sm text-center text-gray-700 capitalize transition-colors duration-300 transform border rounded-md dark:hover:bg-gray-700 dark:text-white lg:mt-0 hover:bg-gray-100 lg:w-auto">
        Logout
      </a>
    </div>

    <a  *ngIf="!currentPerson" class="block px-5 py-2 mt-4 text-sm text-center text-gray-700 capitalize transition-colors duration-300 transform border rounded-md dark:hover:bg-gray-700 dark:text-white lg:mt-0 hover:bg-gray-100 lg:w-auto"  routerLink="/register">
      Sign Up
    </a>
  </div>
</nav>

